notes/src/bibliography.bib
notes/src/main.aux
notes/src/main.bcf
notes/src/main.fdb_latexmk
notes/src/main.fls
notes/src/main.log
notes/src/main.out
notes/src/main.ptc
notes/src/main.run.xml
notes/src/main.toc
notes/src/StyleInd.ist